@model Lab_04_JosueHigueros_PabloAlvarado.FilterConfig

@{
    ViewBag.Title = "Busqueda";
}

@Html.Raw(TempData["msg1"])

<h2>Busqueda</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Busqueda Diccionario II</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-offset-2 col-md-10">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.Label("País", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("Pais", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Número", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.Editor("Numero", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <p align="center"><input type="submit" value="Buscar" class="btn btn-default" /></p>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar al Album", "IndexEstampa")
</div>
